name: Node.js CI

on:
  pull_request:
    branches:
      - '*'
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main
      - next
      - next-major
      - beta
      - alpha

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      
      - name: Install Dependencies
        run: yarn install

      - name: Run tests
        run: yarn test:ci
      
      - name: Upload coverage report
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
      
      - name: Package
        run: yarn package

  release:
    runs-on: ubuntu-latest
    needs: build
    if: |
      github.ref == 'refs/heads/main' || 
      github.ref == 'refs/heads/next' || 
      github.ref == 'refs/heads/next-major' || 
      github.ref == 'refs/heads/beta' || 
      github.ref == 'refs/heads/alpha'

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          persist-credentials: false
      
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18.x'
      
      - name: Install Dependencies
        run: yarn install

      - name: Package
        run: yarn package

      - name: Semantic Release
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: yarn semantic-release
